.about_mainTitle{
    color:var(--colorMain-h2);
    text-align: center;
    padding-top: 25px;
}

.about_text{
    padding-right: 70px;
    padding-left: 70px;
}

.tech_title{
    text-align: center;
    padding: 25px;
    color:var(--colorMain-h3);
}

.about_list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 100px;
    padding-right: 60px;
}

.about_item{
    background-color:var(--colorAbout-tech);
    padding: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius:20px;
    width:100px;
    height: 100px;
}

.about_icon{
    width:50px;
}