.aboutMe {
    background-image: url("../../images/old5.jpg");
    width: 100%;
    min-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: auto;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.about_mainTitle{
    color:var(--colorMain-h2);
    text-align: center;
    padding-bottom: 12px;
    letter-spacing: 4px;
    word-spacing: 8px;
    font-size: 30px;
    font-weight: 900;
    @media (min-width: 768px) {
        font-size: 35px;
        letter-spacing: 6px;
        word-spacing: 10px;
    }
    @media (min-width: 1024px) {
        padding-bottom: 30px;
        font-size: 45px;
        letter-spacing: 8px;
        word-spacing: 12px;
    }
}

.about_text{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    @media (min-width: 768px) {
        line-height: 40px;
        padding-left: 45px;
        padding-right: 45px;
        font-size: 14px;
        padding-bottom: 35px;
    }
    @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 50px;
    }
}

.line{
    height: 14px;
    @media (min-width: 768px) {
        height: 20px;
    }
    @media (min-width: 1024px) {
        height: 40px;
    }
}

.tech_title{
    text-align: center;
    padding-bottom: 15px;
    letter-spacing: 4px;
    word-spacing: 8px;
    color:#4466ac;
    font-size: 30px;
    font-weight: 800;
    @media (min-width: 768px) {
        font-size: 35px;
        padding-bottom: 25px;
    }
    @media (min-width: 1024px) {
        padding-bottom: 35px;
    }
}

.tech_list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding-left: 20px;
    padding-bottom: 25px;
    @media (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-left: 100px;
        padding-right: 30px;
    }
}

.tech_item{
    background-color:var(--colorAbout-tech);
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius:50%;
    width:70px;
    height: 70px;
    @media (min-width: 768) {
        width:80px;
        height: 80px;
        padding: 25px;
    }
    @media (min-width: 1024) {
        width:100px;
        height: 100px;
    }
}

.tech_icon{
    width:35px;
    height: 35px;
    @media (min-width: 768px) {
        width:30px;
        height:30px;
    }
    @media (min-width: 1024px) {
        width:45px;
        height:45px;
    }
}

