.aboutMe {
    background-image: url("../../images/old5.jpg");
    width: 100%;
    min-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: auto;
}

.about_container{
    height: 50vh;
}

.about_mainTitle{
    color:var(--colorMain-h2);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 4px;
    word-spacing: 8px;
    font-size: 30px;
    font-weight: 800;
    @media (min-width: 768px) {
        font-size: 35px;
        letter-spacing: 6px;
        word-spacing: 10px;
    }
}

/*.about_language{
    display: flex;
}*/

/*.article_toggle{
    display:none;
}*/

/*.btn-toggle{
    width: 30px;
    height: 30px;
    background-color: #1e82da4f;
    border-radius: 20% ;
    border: #25478b6b 2px solid;
    font-weight: 700;
}*/

.about_text{
    padding-left: 40px;
    padding-right: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    @media (min-width: 768px) {
        line-height: 10px;
        padding-left: 50px;
        padding-right: 40px;
        font-size: 16px;
    }
    @media (min-width: 1024px) {
        font-size: 16px;
    }
}

.line{
    height: 18px;
    @media (min-width: 768px) {
        height: 20px;
    }
    @media (min-width: 1024px) {
        height: 40px;
    }
}

.tech_container{
    height: 50vh;
}

.tech_title{
    text-align: center;
    padding: 10px;
    letter-spacing: 4px;
    word-spacing: 8px;
    color:#4466ac;
    font-size: 30px;
    font-weight: 800;
    @media (min-width: 768px) {
        font-size: 35px;
    }
}

.tech_list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding-left: 30px;
    padding-bottom: 25px;
    @media (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-left: 100px;
        padding-right: 30px;
    }
}

.tech_item{
    background-color:var(--colorAbout-tech);
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius:50%;
    width:70px;
    height: 70px;
    @media (min-width: 768) {
        width:80px;
        height: 80px;
        padding: 25px;
    }
    @media (min-width: 1024) {
        width:100px;
        height: 100px;
    }
}

.tech_icon{
    width:35px;
    height: 35px;
    @media (min-width: 768px) {
        width:30px;
        height:30px;
    }
    @media (min-width: 1024px) {
        width:45px;
        height:45px;
    }
}

