.coverContainer{

    display: flex;
    flex-direction: column;
    justify-content:center ;
}

.cover_mainTitle{
    color:var(--colorCover-h1);
    font-size: 30px;
}

.cover_title{
    color: var(--colorCover-h2);
    font-size: 20px;
}

.cover {
    background-image: url("../../images/cover.jpg");
    background-repeat: no-repeat;
    background-size:50vw;
    background-position: right;
    height: auto;
    min-height: 100vh;
    min-width: 50px;
    border-radius:50%;
}

