.header{
    height: 100vh; 
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.cover {
    background-image: url("../../images/cover.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    height: 80%;
    border-radius: 0 100% 100% 0/ 50%;
    @media (min-width: 768px) {
        width: 50vw;
        min-height: 100vh;
    }
}

.coverText{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 20%;
    @media (min-width: 768px) {
        width: 50vw;
    }
}

.cover_mainTitle{
    color:var(--colorCover-h1);
    font-size: 35px;
    @media (min-width: 768px) {
        font-size: 45px;
    }
}

.cover_title{
    color: var(--colorCover-h2);
    font-size: 20px;
    @media (min-width: 768px) {
        font-size: 25px;
    }
}



