.footerCover {
    background-image: url("../../images/blue.jpg");
    background-repeat: no-repeat;
    background-position: left;
    width: 50vw;
    min-height: 100vh;
    //min-width: 50px;
    border-radius: 100% 0 0 100% / 50%;

}

.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    //padding: 250px 120px 0px ;
}

.footer_text{
    color:#25478b;
    font-size: 70px;
    font-weight: bold;
}

.rrss_list{
    list-style: none;
    align-items: center;
    width: 100%;
}


.footerList_item{
    padding: 35px 95px 35px 15px;
}

.rrss_link{
    text-decoration: none;
    color: var(--color-rrss);
}

.icon{
    width: 40px;
    font-size: 50px;
}


