.footer{
    height: 100vh;
}

.footer_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerCover {
    background-image: url("../../images/footer6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 50vw;
    border-radius: 100% 0 0 100%/ 50% ;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) {
        width: 50vw;
    }
}

.footer_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw;
}
.footer_text1{
    color:var(--colorFooter-h2);
    font-size: 50px;
    font-weight: bold;
    @media (min-width: 768px) {
        font-size: 70px;
    }
}

.footer_text2{
    color:var(--colorCover-h1);
    font-size: 25px;
    font-weight: bold;
    @media (min-width: 768px) {
        font-size: 30px;
    }
}

.rrss_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content:space-around;
    }
}

.footerList_item{
    padding: 25px;
 }

.rrss_link{
    text-decoration: none;
    color: var(--color-rrss);
}

.icon{
    font-size: 40px;
    &:hover {
        transform: scale(1.2);
    }
    @media (min-width: 768px) {
        font-size: 50px;
    }
}

.footer_arrowCopy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.arrowIcon{
    font-size: 35px;
    color:#f0a992;
    margin-bottom: 10px;
    &:hover {
        transform: scale(1.2);
    }
    @media (min-width: 768px) {
        font-size: 40px;
    }
}

.copy{
    font-size: 12px;
    padding-bottom:5px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
}



