.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerCover {
    background-image: url("../../images/footer6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    border-radius: 100% 0 0 100%/ 50% ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_text{
    text-align: center;
    color:#3B8C84;
    font-size: 35px;
    font-weight: bold;
    width: 40%;
    @media (min-width: 768px) {
        font-size: 55px;
    }
}

.rrss_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content:space-around;
    }
}

.footerList_item{
    padding: 25px;
}

.rrss_link{
    text-decoration: none;
    color: var(--color-rrss);
}

.icon{
    width: 20px;
    font-size: 40px;
    @media (min-width: 768px) {
        font-size: 50px;
    }
}


