.nav{
    background-color: var(--bg-color-nav);
    color: rgb(244, 248, 247);
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    width: 100%;
    min-width: 400px;
}

.navList{
    display: flex;
    justify-content:space-around;
    cursor: pointer;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: #fdfdfd;
}

.button{
    background-color: #fdfdfd;
    border: 2px solid #fdfdfd;
    border-radius: 15%;
    color: var(--colorCover-h1);
    font-weight: 900;
    @media (min-width: 768px) {
        font-size:18px;
    }
}

.button:hover {
    transform: scale(1.2);
}

.button_es{
    margin-right:8px;
}

.navItem{
    padding-bottom: 5px;
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 3px;
    @media (min-width: 768px) {
        font-size:18px;
    }
    @media (min-width: 1024px) {
        font-size:20px;
    }
}

.navItem:hover {
    color:rgba(2, 17, 12, 0.801);
    transform: scale(1.2);
}