.projects {
    background-image: url("../../images/old.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 450px;
    min-height: 100vh;
}

.projects_mainTitle{
    color:var(--colorMain-h2);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    letter-spacing: 4px;
    word-spacing: 8px;
    @media (min-width: 768px) {
        font-size: 35px;
        letter-spacing: 6px;
        word-spacing: 10px;
    }
}

.projects_listContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    padding-bottom: 35px;
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.projects_listItem{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.item_title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    grid-column: span 2;
    color: #fdfdfd;
    text-shadow: rgb(68, 67, 67) 0.1em 0.1em 0.2em;
    @media (min-width: 768px) {
        font-size:20px;
    }
}

.img_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_img{
    width:300px;
    border-radius: 12%;
    &:hover {
        transform: scale(0.9);
    }
}

.projectIcon{
    color: #eba58e;
    width: 20px;
    font-size: 35px;
    @media (min-width: 768px) {
        font-size: 40px;
    }
}

.item_textContainer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.item_description{
    font-size: 14px;
    text-align: center;
    width: 80%;
    background-color:#fdfdfde8;
    box-shadow: rgb(82, 81, 81) 0.1em 0.1em 0.2em; ;
    border-radius: 10%;
    padding:10px
}

