.projects_mainTitle{
    color:var(--colorMain-h2);
    text-align: center;
    word-spacing: 10px;
}

.projects {
    background-image: url("../../images/wood2.jpg");
    width: 100%;
    min-width: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}