.projects {
    background-image: url("../../images/blue.jpg");
    width: 100%;
    min-width: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}

.projects_mainTitle{
    color:var(--colorMain-h2);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 4px;
    word-spacing: 8px;
    @media (min-width: 768px) {
        font-size: 35px;
        letter-spacing: 6px;
        word-spacing: 10px;
    }
}

.projects_listContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding-left: 40px;
    padding-bottom: 25px;
}

.item_img{
    width:100%;
}

