@import "./componentScss/cover.scss";
@import "./componentScss/nav.scss";
@import "./componentScss/aboutMe.scss";
@import "./componentScss/projects.scss";
@import "./componentScss/footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

:root{
/*Colores*/
  --colorCover-h1:#25478b;
  --colorCover-h2:#1e82dad5;
  --bg-color-nav:#1e82dace;
  --colorMain-h2:#4466ac;
  --colorMain-h3:#0f80e4ec;
  --colorAbout-tech:#f0a99296;
  --colorProjects-titleItem:#4467acd3;
  --colorFooter-h2:#4467acb9;
  --color-rrss: #eaecf1;
}